filter {
  # Remove o campo layers e promove seus subcampos
  if [layers] {
    ruby {
      code => '
        layers = event.get("layers")
        if layers.is_a?(Hash)
          layers.each do |key, value|
            if value.is_a?(Array) && value.length == 1
              event.set(key, value[0])
            else
              event.set(key, value)
            end
          end
        end
        event.remove("layers")
      '
    }
  }

  # Converte timestamp
  if [timestamp] {
    date {
      match => ["timestamp", "UNIX_MS"]
      target => "@timestamp"
      timezone => "America/Sao_Paulo"
    }
  }

  # Mapeamento de IPs para hostnames
  ruby {
    code => '
      ip_map = {
        "10.107.96.129" => "ame_sigm-gx-0-0",
        "10.107.96.130" => "ame_sigm-gx-1-0",
        "10.107.96.131" => "ame_sigm-rx-0-0",
	"10.107.96.132" => "ame_sigm-rx-1-0",
	"10.107.96.133" => "ame_signaling_manager-0-0",
        "10.107.96.134"  => "ame_signaling_manager-1-0",
        "10.160.206.129" => "bsa_sigm-gx-0-0",
        "10.160.206.130" => "bsa_sigm-gx-1-0",
        "10.160.206.131" => "bsa_sigm-rx-0-0",
        "10.160.206.132" => "bsa_sigm-rx-1-0",
        "10.160.206.133" => "bsa_signaling_manager-0-0",
        "10.160.206.134" => "bsa_signaling_manager-0-0"
      }

      src_ip = event.get("ip_src")
      dst_ip = event.get("ip_dst")

      if ip_map.key?(src_ip)
        event.set("hostname", ip_map[src_ip])
      elsif ip_map.key?(dst_ip)
        event.set("hostname", ip_map[dst_ip])
      end
    '
  }

  # Conversão de tipos
  mutate {
    convert => {
      "frame" => "string"
      "sctp_srcport" => "string"
      "sctp_dstport" => "string"
    }
    rename => {
      "sctp_srcport" => "src_port"
      "sctp_dstport" => "dst_port"
      "ip_src" => "src_ip"
      "ip_dst" => "dst_ip"
    }
  }

  # Processamento do chunk_type SCTP
  if [sctp_chunk_type] {
    if [sctp_chunk_type] == "0" or [sctp_chunk_type][0] == "0" {
      if ![cmd_code] {
        drop { }
      }
      mutate { replace => [ "sctp_chunk_type", "DATA_0" ] }
    }
    if [sctp_chunk_type] == "3" or [sctp_chunk_type][0] == "3" {
      drop { }
    } else if [sctp_chunk_type] == "4" {
      mutate { replace => [ "sctp_chunk_type", "HEARTBEAT_4" ] }
    } else if [sctp_chunk_type] == "5" {
      mutate { replace => [ "sctp_chunk_type", "HEARTBEAT_ACK_5" ] }
    } else if [sctp_chunk_type] == "1" {
      mutate { replace => [ "sctp_chunk_type", "INIT_1" ] }
    } else if [sctp_chunk_type] == "7" {
      mutate { replace => [ "sctp_chunk_type", "SHUTDOWN_7" ] }
    } else if [sctp_chunk_type] == "8" {
      mutate { replace => [ "sctp_chunk_type", "SHUTDOWN_ACK_8" ] }
    } else if [sctp_chunk_type] == "6" {
      mutate { replace => [ "sctp_chunk_type", "ABORT_6" ] }
      if [sctp_cause_code] == "0x000c" {
        mutate { replace => [ "sctp_cause_code", "User initiated ABORT_0x000c" ] }
      }
    } else if [sctp_chunk_type] == "14" {
      mutate { replace => [ "sctp_chunk_type", "SHUTDOWN_COMPLETE_14" ] }
    } else if [sctp_chunk_type] == "2" {
      mutate { replace => [ "sctp_chunk_type", "INIT_ACK_2" ] }
    } else if [sctp_chunk_type] == "10" {
      mutate { replace => [ "sctp_chunk_type", "COOCKIE_ECHO_10" ] }
    } else if [sctp_chunk_type] == "11" {
      mutate { replace => [ "sctp_chunk_type", "COOCKIE_ACK_11" ] }
    } else if [sctp_chunk_type] == "9" {
      mutate { replace => [ "sctp_chunk_type", "ERROR_9" ] }
    }
  }


	if "True" in [tcp_flags_syn] {
                mutate {
                        add_field => {
                                "flags" => "syn"
                        }
                }
        } else if "True" in [tcp_flags_fin] {
                mutate {
                        add_field => {
                                "flags" => "fin"
                        }
                }
        } else if "True" in [tcp_flags_reset] {
                mutate {
                        add_field => {
                                "flags" => "reset"
                        }
                }
        } else if [tcp_flags_ack] == "True" and [tcp_flags_push] == "True" {
		drop { }
        } else if "True" in [tcp_flags_ack] {
                drop { }
        }


  # Remove campos desnecessários
  mutate {
    remove_field => [ "frame.time", "frame.time_epoch", "@version", "host", "message", "tcp_flags_syn", "tcp_flags_reset", "tcp_flags_push", "tcp_flags_fin", "tcp_flags_ack", "timestamp" ]
  }
}
