input {
        file {
                path => "/claro/backup/*csv"
		#path => "/tmp/teste/*csv"
                mode => "read"
                file_completed_action => "log"
                file_completed_log_path => "/opt/logstash-9.0.0/logs/openet_pos_diameter_arquivos_lidos_logstash_teste.log"
                sincedb_path => "/opt/logstash-9.0.0/logs/openet_pos_diameter_sincedb_patch_teste.log"
                #file_chunk_size => 943718400
                tags => ["openet_pos_diameter"]
        }
}

