input {
        file {
                path => "/claro/trafego_diameter/openet/pos/logstash/*csv"
		#path => "/tmp/teste/*csv"
                mode => "read"
                file_completed_action => "log_and_delete"
                file_completed_log_path => "/opt/logstash-9.0.0/logs/openet_pos_diameter_arquivos_lidos_logstash.log"
                sincedb_path => "/opt/logstash-9.0.0/logs/openet_pos_diameter_sincedb_patch.log"
                #file_chunk_size => 943718400
                tags => ["openet_pos_diameter"]
        }
}

