input {
        file {
                path => "/claro/trafego_sctp_tcp/openet/pos/logstash/*csv"
		#path => "/tmp/teste/*csv"
                mode => "read"
                file_completed_action => "log_and_delete"
                file_completed_log_path => "/opt/logstash-9.0.0/logs/openet_pos_sctp_tcp_arquivos_lidos_logstash.log"
                sincedb_path => "/opt/logstash-9.0.0/logs/openet_pos_sctp_tcp_sincedb_patch.log"
                codec => "json"
                tags => ["openet_pos_sctp_tcp"]
        }
}

