output {
        elasticsearch {
                #Retirei o es01data-omr-ame-02 (10.107.174.245) pois a plataforma nao estava aguentando o volume de trafego
                hosts => ["https://10.107.174.246:9200","https://10.107.174.247:9200","https://10.107.174.248:9200","https://10.107.174.249:9200","https://10.107.174.250:9200","https://10.107.174.251:9200","https://10.107.174.252:9200"]
                user => "elastic"
                password => "4Gfp7J-vYTJa0DV2b+HO"
                ssl_certificate_authorities => ["/opt/logstash-9.0.0/config/omr-host-ame-02_http.crt"]
                index => "openet_pos_diameter-%{+YYYY-MM-dd}"
                template_name => "openet_pos_diameter_template"  # Nome do seu template
                template_overwrite => true  # Força sobrescrita se já existir
                manage_template => false   # Desativa o gerenciamento automático de templates
        }


#        stdout { codec => rubydebug }
}

